TD.leftcol {
	width: 110px;
	vertical-align: top;
}
.text-td {
	font-size: 25px;
}
.menu{
 list-style: none;
 position: absolute;
 top: 10px;
 right: 100px;
}
#header{
  width: 100%;
  height: 200px;
  background-color: #25B33f; 
  margin-bottom: 10px;
  background-image: url(images/1.png)
}
h1{
  color: #ffee00;
  font: 40px Georgia;
  margin-left: 300px;
}
h3{
  width: 200px;
  color: #ffee00;
  font-style: italic;
  margin: 70px 0 0 30px;
}